Repository openmobilityfoundation/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

.lintstagedrc.json:

{
  "*.ts": ["pnpm lint:eslint -- --fix"],
  "package.json": ["pnpm lint:prettier -- --write ", "pnpm lint:audit"]
}

[mds-schema-validators] [mds-policy] [mds-policy-author] Export Rule schemas so they can be extended elsewhere, rework policy package structure (#612)
  container-images/mds-modality-policy-author/webpack.config.ts
  container-images/mds-modality-policy/webpack.config.ts
  container-images/mds-policy-author/Dockerfile
  container-images/mds-policy-author/package.json
  container-images/mds-policy-author/tsconfig.eslint.json
  container-images/mds-policy-author/webpack.config.ts
  container-images/mds-policy/Dockerfile
  container-images/mds-policy/package.json
  container-images/mds-policy/tsconfig.eslint.json
  container-images/mds-policy/webpack.config.ts
  helm/mds/values.yaml
  packages/mds-modality-policy-author/LICENSE
  packages/mds-modality-policy-author/README.md
  packages/mds-modality-policy-author/index.ts
  packages/mds-modality-policy-author/package.json
  packages/mds-modality-policy-author/tsconfig.build.json
  packages/mds-modality-policy-author/tsconfig.eslint.json
  packages/mds-modality-policy/LICENSE
  packages/mds-modality-policy/README.md
  packages/mds-modality-policy/index.ts
  packages/mds-modality-policy/package.json
  packages/mds-modality-policy/server.ts
  packages/mds-modality-policy/tsconfig.build.json
  packages/mds-modality-policy/tsconfig.eslint.json
  packages/mds-policy-author-middleware/index.ts
  packages/mds-policy-author-middleware/package.json
  packages/mds-policy-author-middleware/tsconfig.build.json
  packages/mds-policy-author-middleware/types.ts
  packages/mds-policy-author/api.ts
  packages/mds-policy-author/middleware.ts
  packages/mds-policy-author/package.json
  packages/mds-policy-author/policy-author-api-version.ts
  packages/mds-policy-author/server.ts
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy-author/tsconfig.build.json
  packages/mds-policy/package.json
  packages/mds-policy/server.ts
  packages/mds-schema-validators/validators.ts
  pnpm-lock.yaml
  values.yaml.tpl
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Agency writes event errors to stream (#611)
  packages/mds-agency/request-handlers.ts
  packages/mds-stream/helpers.ts
  packages/mds-stream/index.ts
  packages/mds-stream/kafka/agency-stream-kafka.ts
  packages/mds-stream/nats/agency-stream-nats.ts
  packages/mds-stream/types.ts
Due: pnpm lint:eslint -- --fix

[mds-api-server] [mds-transaction-api] [mds-collector-api] Add truly global error handling middleware (#615)
  packages/mds-api-server/index.ts
  packages/mds-api-server/middleware/api-error-handling.ts
  packages/mds-api-server/package.json
  packages/mds-collector-api/api.ts
  packages/mds-collector-api/middleware/collector-api-error.ts
  packages/mds-transaction-api/api/index.ts
  packages/mds-transaction-api/middleware/index.ts
  packages/mds-transaction-api/middleware/transaction-api-error.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[docs] [mds-compliance-api] Add MDS Compliance API OpenAPI Spec (#614)
  packages/mds-compliance-api/generate-flat-spec.ts
  packages/mds-compliance-api/handlers/get-compliance-snapshot-ids.ts
  packages/mds-compliance-api/handlers/get-violation-details-snapshot.ts
  packages/mds-compliance-api/handlers/get-violation-periods.ts
  packages/mds-compliance-api/package.json
  packages/mds-compliance-api/spec/README.md
  packages/mds-compliance-api/spec/flat-spec.json
  packages/mds-compliance-api/spec/spec.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

update helm from private repo
  helm/mds/.helmignore
  helm/mds/Chart.lock
  helm/mds/Chart.yaml
  helm/mds/files
  helm/mds/requirements.lock
  helm/mds/requirements.yaml
  helm/mds/templates/_helpers.tpl
  helm/mds/templates/configmap.yaml
  helm/mds/templates/deployment.yaml
  helm/mds/templates/egress.yaml
  helm/mds/templates/hpa.yaml
  helm/mds/templates/ingress-basic.yaml
  helm/mds/templates/ingress-gloo.yaml
  helm/mds/templates/ingress-istio.yaml
  helm/mds/templates/scheduler.yaml
  helm/mds/templates/service.yaml
  helm/mds/templates/serviceaccount.yaml
  helm/mds/values.yaml
Due: none

default nginx ingress
  helm/mds/templates/auth.yaml
  helm/mds/templates/autoscaler.yaml
  helm/mds/templates/egress.yaml
  helm/mds/templates/ingress-gloo.yaml
  helm/mds/templates/ingress-istio.yaml
  helm/mds/templates/ingress.yaml
  helm/mds/values.yaml
Due: none

add minimal install, turn off internal redis password
  helm/mds/values-minimal.yaml
  helm/mds/values.yaml
Due: none

Helm chart updates (#618)
  helm/mds/.helmignore
  helm/mds/Chart.lock
  helm/mds/Chart.yaml
  helm/mds/files
  helm/mds/requirements.lock
  helm/mds/requirements.yaml
  helm/mds/templates/_helpers.tpl
  helm/mds/templates/auth.yaml
  helm/mds/templates/autoscaler.yaml
  helm/mds/templates/deployment.yaml
  helm/mds/templates/egress.yaml
  helm/mds/templates/hpa.yaml
  helm/mds/templates/ingress.yaml
  helm/mds/templates/service.yaml
  helm/mds/templates/serviceaccount.yaml
  helm/mds/values.yaml
Due: none

[mds-api-server] [mds-logger] Add Debug Express Logger (#620)
  packages/mds-api-server/middleware/request-logging.ts
  packages/mds-logger/index.ts
Due: pnpm lint:eslint -- --fix

s/MODALITY_// (#623)
  values.yaml.tpl
Due: none

[mds-types] Remove maintenance from TNC State Machine (#622)
  packages/mds-types/event.ts
  packages/mds-types/event_states_maps.ts
Due: pnpm lint:eslint -- --fix

[mds-types] Make MDS TripMetadata extensible (#621)
  packages/mds-types/trip.ts
Due: pnpm lint:eslint -- --fix

Use "latest" tag for dev images (#616)
  bin/build-helper
  container-images/mds-agency/package.json
  container-images/mds-attachment-service/package.json
  container-images/mds-audit-service/package.json
  container-images/mds-audit/package.json
  container-images/mds-collector-api/package.json
  container-images/mds-collector-backend/package.json
  container-images/mds-compliance-api/package.json
  container-images/mds-compliance-service/package.json
  container-images/mds-geography-author/package.json
  container-images/mds-geography-service/package.json
  container-images/mds-geography/package.json
  container-images/mds-ingest-service/package.json
  container-images/mds-jurisdiction-service/package.json
  container-images/mds-jurisdiction/package.json
  container-images/mds-policy-author/package.json
  container-images/mds-policy-service/package.json
  container-images/mds-policy/package.json
  container-images/mds-transaction-api/package.json
  container-images/mds-transaction-service/package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Allow randomElement function to operate on const arrays (#625)
  package.json
  packages/mds-utils/utils.ts
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Ignore advisory 1753 from Lerna (#626)
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Handle missing single device telemetry payloads with a 400 instead of a 500 (#628)
  packages/mds-agency/package.json
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-db/devices.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[mds-agency] Fix import and add missing project reference (#629)
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tsconfig.build.json
Due: pnpm lint:eslint -- --fix

Fix duplicate values in VEHICLE_EVENTS_v1_1_0 and VEHICLE_STATES_v1_1_0 (#630)
  packages/mds-types/event.ts
  packages/mds-types/vehicle/vehicle_states.ts
Due: pnpm lint:eslint -- --fix

Fix error handling middleware in bundled (minified) images. (#631)
  packages/mds-api-server/middleware/api-error-handling.ts
  packages/mds-service-helpers/client/index.ts
Due: pnpm lint:eslint -- --fix

Data pipeline needs trip metadata recorded property for watermarking. (#632)
  packages/mds-agency/request-handlers.ts
Due: pnpm lint:eslint -- --fix

[mds-agency] Remove TripMetadata cache writes (#633)
  packages/mds-agency-cache/index.ts
  packages/mds-agency/request-handlers.ts
Due: pnpm lint:eslint -- --fix

MDS-ingest-service - Get Events Query (#613)
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/package.json
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/repository/migrations/1603212540962-CreateEventsTable.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
  packages/mds-ingest-service/tsconfig.build.json
  packages/mds-types/event.ts
  packages/mds-types/vehicle/vehicle_states.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Fix nodejs out-of-memory errors in Jenkins (#638)
  Jenkinsfile
Due: none

implemented get devices (#636)
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

[mds-agency] Fix POST telemetry response in accordance with 1.0 spec, improve performance (#637)
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/types.ts
  packages/mds-api-server/@types/index.ts
Due: pnpm lint:eslint -- --fix

[mds-agency] Switch Device validation to AJV (#634)
  packages/mds-agency/package.json
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/types.ts
  packages/mds-agency/utils.ts
  packages/mds-db/devices.ts
  packages/mds-ingest-service/index.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-types/device.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[mds-agency] Switch Telemetry Validation to AJV, fix spec discontinuities (#639)
  .prettierrc.json
  package.json
  packages/mds-agency/api.ts
  packages/mds-agency/handlers/create-telemetry.ts
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/types.ts
  packages/mds-agency/utils.ts
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/repository/entities/telemetry-entity.ts
  packages/mds-ingest-service/repository/mappers/telemetry-mappers.ts
  packages/mds-ingest-service/repository/migrations/1624574421590-AddTelemetryStopIdHdopSatellitesColumns.ts
  packages/mds-ingest-service/repository/migrations/index.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
  packages/mds-types/telemetry.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[mds-ingest-service] Add pagination and order support to getEvents via ingest (#643)
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/package.json
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Add support for mset to mds-cache (#642)
  packages/mds-cache/redis/index.ts
  packages/mds-cache/tests/redis.spec.ts
Due: pnpm lint:eslint -- --fix

ktlo/michael/update dependencies (#646)
  package.json
  packages/mds-agency-cache/package.json
  packages/mds-agency/middleware/agency-api-version.ts
  packages/mds-agency/package.json
  packages/mds-api-authorizer/index.ts
  packages/mds-api-authorizer/package.json
  packages/mds-attachment-service/package.json
  packages/mds-audit/api.ts
  packages/mds-audit/middleware/audit-api-version.ts
  packages/mds-audit/package.json
  packages/mds-cache/package.json
  packages/mds-collector-api/middleware/collector-api-version.ts
  packages/mds-collector-backend/package.json
  packages/mds-compliance-api/middleware/compliance-api-version.ts
  packages/mds-compliance-engine/package.json
  packages/mds-compliance-engine/test_data/fixtures.ts
  packages/mds-geography-author/middleware/geography-author-api-version.ts
  packages/mds-geography/middleware/geography-api-version.ts
  packages/mds-jurisdiction/middleware/jurisdiction-api-version.ts
  packages/mds-policy-author/policy-author-api-version.ts
  packages/mds-policy/middleware/policy-api-version.ts
  packages/mds-schema-validators/package.json
  packages/mds-stream/package.json
  packages/mds-transaction-api/middleware/transaction-api-version.ts
  packages/mds-utils/package.json
  packages/mds-webpack-config/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[mds-agency] Switch event validation to AJV (#641)
  .eslintrc.json
  packages/mds-agency/api.ts
  packages/mds-agency/handlers/create-event.ts
  packages/mds-agency/request-handlers.ts
  packages/mds-agency/tests/integration-tests.spec.ts
  packages/mds-agency/types.ts
  packages/mds-agency/utils.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-types/utils.ts
Due: pnpm lint:eslint -- --fix

fixes all_events query to use start/end, adds missing indicies (#648)
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/migrations/1603212540962-CreateEventsTable.ts
  packages/mds-ingest-service/repository/migrations/1625676583247-AddEventsTripIdTimestampIndex.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

Initial ingest service refactor for 0.4 to 1.0 upgrade (#645)
  packages/mds-ingest-service/repository/entities/device-entity.ts
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/entities/telemetry-entity.ts
  packages/mds-ingest-service/repository/mappers/device-mappers.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/repository/mappers/telemetry-mappers.ts
  packages/mds-ingest-service/repository/migrations/1625241719659-CreateMigrationColumns.ts
  packages/mds-ingest-service/repository/migrations/index.ts
  packages/mds-ingest-service/repository/mixins/migrated-entity.ts
Due: pnpm lint:eslint -- --fix

Update typeorm peer dependency version (#647)
  packages/mds-repository/package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

New mds-ingest-service method to writeEventAnnotations (#640)
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/repository/entities/event-annotation-entity.ts
  packages/mds-ingest-service/repository/entities/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/event-annotation-mappers.ts
  packages/mds-ingest-service/repository/mappers/index.ts
  packages/mds-ingest-service/repository/migrations/1624574823000-AddEventAnnotationEntity.ts
  packages/mds-ingest-service/repository/migrations/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

Address some comments from PR #640 (#649)
  packages/mds-ingest-service/repository/entities/event-annotation-entity.ts
  packages/mds-ingest-service/service/validators.ts
Due: pnpm lint:eslint -- --fix

Adds missing migration to index.ts driver for TypeORM (#650)
  packages/mds-ingest-service/repository/migrations/1625676583247-AddEventsTripIdTimestampIndex.ts
  packages/mds-ingest-service/repository/migrations/index.ts
Due: pnpm lint:eslint -- --fix
