Repository openmobilityfoundation/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Bump root version
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Set 1hr timeout for Jenkins builds (#723)
  Jenkinsfile
Due: none

Feature/alex/pnpm push docker images (#721)
  bin/build-helper
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

add milestones to PR pushes to cancel out-of-date build/test jobs
  Jenkinsfile
Due: none

Enforce stricter Policy type guarding (#722)
  .changeset/wise-boxes-count.md
  packages/mds-compliance-engine/engine/count_processors.ts
  packages/mds-compliance-engine/engine/helpers.ts
  packages/mds-compliance-engine/engine/speed_processors.ts
  packages/mds-compliance-engine/engine/time_processors.ts
Due: pnpm lint:eslint -- --fix

Ingest migration processor updates (#724)
  .changeset/honest-wolves-leave.md
  .changeset/sweet-coins-applaud.md
  packages/mds-api-server/middleware/request-logging.ts
  packages/mds-ingest-migration-processor/package.json
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-migration-processor/tsconfig.build.json
  packages/mds-ingest-service/repository/migrations/1631275864436-IncreaseMigratedFromSourceColumnLength.ts
  packages/mds-ingest-service/repository/migrations/index.ts
  packages/mds-ingest-service/repository/mixins/migrated-entity.ts
  packages/mds-rpc-common/server/index.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

adding changeset
  .changeset/dull-actors-trade.md
  packages/mds-compliance-engine/engine/helpers.ts
  packages/mds-compliance-engine/tests/engine/engine-test.spec.ts
Due: pnpm lint:eslint -- --fix

Event annotations require the original event id (#726)
  .changeset/curly-vans-confess.md
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/service/provider.ts
Due: pnpm lint:eslint -- --fix

Bump jest timeout to 30s because sometimes CI can be slooooow. (#728)
  .jest/jest.config.js
Due: none

Make remote address logging optional (#725)
  .changeset/polite-rivers-kick.md
  packages/mds-api-server/middleware/request-logging.ts
  packages/mds-rpc-common/server/index.ts
Due: pnpm lint:eslint -- --fix

adding changeset (#727)
  .changeset/dull-actors-trade.md
  packages/mds-compliance-engine/engine/helpers.ts
  packages/mds-compliance-engine/tests/engine/engine-test.spec.ts
Due: pnpm lint:eslint -- --fix

Tiny mds-compliance-api spec bugfix (#730)
  packages/mds-compliance-api/spec/flat-spec.json
  packages/mds-compliance-api/spec/spec.yaml
Due: none

compliance engine no throw and changeset
  .changeset/shy-adults-join.md
  packages/mds-compliance-engine/engine/mds-compliance-engine.ts
Due: pnpm lint:eslint -- --fix

compliance engine no throw and changeset (#732)
  .changeset/shy-adults-join.md
  packages/mds-compliance-engine/engine/mds-compliance-engine.ts
Due: pnpm lint:eslint -- --fix

Default to micromobility state map for policy if modality is undefined (#734)
  .changeset/pretty-swans-help.md
  packages/mds-policy-service/service/validators.ts
  packages/mds-policy-service/tests/validators.spec.ts
  packages/mds-policy/schema-gen/PolicyDomainModelSchema.json
Due: pnpm lint:eslint -- --fix

Only initialize cache for uncached devices (#733)
  .changeset/thin-melons-tie.md
  packages/mds-ingest-migration-processor/processor.ts
Due: pnpm lint:eslint -- --fix

Update geography and policy to conform with MDS
  packages/mds-geography/api.ts
  packages/mds-geography/tests/api.spec.ts
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy/handlers/get-policy.ts
  packages/mds-policy/tests/api.spec.ts
  packages/mds-policy/types.ts
Due: pnpm lint:eslint -- --fix

Updating API version for policy and geography APIs (#737)
  .changeset/afraid-phones-drum.md
  packages/mds-geography-author/tests/api.spec.ts
  packages/mds-geography-author/types.ts
  packages/mds-geography/tests/api.spec.ts
  packages/mds-geography/types.ts
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy-author/types.ts
  packages/mds-policy/tests/api.spec.ts
  packages/mds-policy/types.ts
Due: pnpm lint:eslint -- --fix

Feature/compliance match any event to any policy (#736)
  .changeset/sixty-papayas-allow.md
  packages/mds-compliance-engine/engine/helpers.ts
  packages/mds-compliance-engine/test_data/fixtures.ts
  packages/mds-compliance-engine/tests/engine/engine-test.spec.ts
Due: pnpm lint:eslint -- --fix

Add ReceiptDetails which link to Compliance Violations. (#729)
  .changeset/nervous-dolls-tell.md
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-service/@types/index.ts
  packages/mds-transaction-service/service/validators.ts
  packages/mds-transaction-service/tests/transactions.spec.ts
Due: pnpm lint:eslint -- --fix

Update geography and policy to conform with MDS (#735)
  .changeset/orange-flowers-look.md
  packages/mds-geography/api.ts
  packages/mds-geography/tests/api.spec.ts
  packages/mds-policy-author/api.ts
  packages/mds-policy-author/handlers/get-policy-metadata.ts
  packages/mds-policy/handlers/get-policy.ts
  packages/mds-policy/tests/api.spec.ts
  packages/mds-policy/types.ts
Due: pnpm lint:eslint -- --fix

Update policy status filter queries. (#740)
  .changeset/eleven-moles-smoke.md
  packages/mds-policy-service/repository/index.ts
Due: pnpm lint:eslint -- --fix

[PLAT-153] [mds-compliance-engine] [mds-policy-service] Improve Compliance time checking & Policy time validation (#739)
  .changeset/old-guests-walk.md
  .changeset/smooth-eyes-hear.md
  .changeset/sour-pears-mate.md
  packages/mds-compliance-engine/engine/helpers.ts
  packages/mds-compliance-engine/engine/mds-compliance-engine.ts
  packages/mds-compliance-engine/package.json
  packages/mds-compliance-engine/tests/engine/helpers.spec.ts
  packages/mds-policy-service/@types/models.ts
  packages/mds-policy-service/service/validators.ts
  packages/mds-policy-service/test_data/policies.ts
  packages/mds-policy-service/tests/validators.spec.ts
  packages/mds-policy/schema-gen/PolicyDomainModelSchema.json
  packages/mds-types/utils.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Switch to pino instead of console for logging (#743)
  .changeset/pretty-adults-design.md
  packages/mds-logger/index.ts
  packages/mds-logger/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Feature/compliance service posts to kafka (#741)
  .changeset/healthy-swans-know.md
  packages/mds-compliance-service/package.json
  packages/mds-compliance-service/service/provider.ts
  packages/mds-compliance-service/service/stream.ts
  packages/mds-compliance-service/tests/index.spec.ts
  packages/mds-compliance-service/tsconfig.build.json
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

fix(mds-compliance-service): handle nulls in getComplianceSnapshots (#742)
  .changeset/breezy-onions-speak.md
  packages/mds-compliance-service/@types/index.ts
  packages/mds-compliance-service/service/validators.ts
  packages/mds-compliance-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

Add identity column to device/telemetry streams (#744)
  .changeset/yellow-tools-love.md
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/device-mappers.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/repository/mappers/telemetry-mappers.ts
Due: pnpm lint:eslint -- --fix

disable bitmap heap scan, distinct is even faster (#738)
  .changeset/wild-hounds-refuse.md
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

Move mapper call outside of database transaction (#746)
  packages/mds-ingest-service/repository/index.ts
Due: pnpm lint:eslint -- --fix

Add optional trip_id to ComplianceViolationDetails (#747)
  .changeset/cold-cameras-build.md
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
  packages/mds-transaction-service/@types/index.ts
  packages/mds-transaction-service/service/validators.ts
Due: pnpm lint:eslint -- --fix

Apply path filtering to API Request debug logs and consolidate output (#749)
  .changeset/honest-camels-occur.md
  packages/mds-api-server/api-server.ts
  packages/mds-api-server/middleware/request-logging.ts
Due: pnpm lint:eslint -- --fix

Use logger.info for request debugging for now. (#750)
  packages/mds-api-server/middleware/request-logging.ts
Due: pnpm lint:eslint -- --fix

Add ComplianceViolationEntity
  .changeset/tidy-eggs-shop.md
  packages/mds-compliance-service/@types/index.ts
  packages/mds-compliance-service/repository/entities/compliance-violation-entity.ts
  packages/mds-compliance-service/repository/mappers.ts
  packages/mds-policy/schema-gen/PolicyDomainModelSchema.json
  packages/mds-transaction-api/schema-gen/TransactionSchema.json
  packages/mds-transaction-api/spec/flat-spec.json
Due: pnpm lint:eslint -- --fix

Path conditions:
  pnpm lint:eslint -- --fix: any of: *.ts
  pnpm lint:prettier -- --write: any of: package.json
  pnpm lint:audit: any of: package.json
