Repository openmobilityfoundation/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

.lintstagedrc.json:

{
  "*.ts": ["pnpm lint:eslint -- --fix"],
  "package.json": ["pnpm lint:prettier -- --write ", "pnpm lint:audit"]
}

[PLAT-53] Persist migrated ingest data (#688)
  .changeset/thin-knives-rest.md
  packages/mds-ingest-migration-processor/package.json
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-migration-processor/tsconfig.build.json
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/index.ts
  packages/mds-ingest-service/repository/index.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Expose computeSnapshot to external packages (#690)
  .changeset/cyan-rats-float.md
  packages/mds-compliance-engine/batch_process.ts
  packages/mds-compliance-engine/index.ts
Due: pnpm lint:eslint -- --fix

PLAT-46 remove mds-db from policy-author (#685)
  .changeset/smart-phones-pretend.md
  .changeset/tiny-kangaroos-relax.md
  .vscode/launch.json
  packages/mds-api-server/middleware/api-error-handling.ts
  packages/mds-policy-author/api.ts
  packages/mds-policy-author/handlers/delete-policy.ts
  packages/mds-policy-author/handlers/get-bulk-policy-metadata.ts
  packages/mds-policy-author/handlers/get-policy-metadata.ts
  packages/mds-policy-author/handlers/publish-policy.ts
  packages/mds-policy-author/handlers/update-policy-metadata.ts
  packages/mds-policy-author/handlers/update-policy.ts
  packages/mds-policy-author/handlers/write-policy.ts
  packages/mds-policy-author/jest.config.js
  packages/mds-policy-author/package.json
  packages/mds-policy-author/server.ts
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy-author/tsconfig.build.json
  packages/mds-policy-author/types.ts
  packages/mds-policy-service/index.ts
  packages/mds-policy-service/repository/index.ts
  packages/mds-policy-service/service/provider.ts
  packages/mds-policy-service/tests/policy-client.spec.ts
  packages/mds-service-helpers/@types/index.ts
  packages/mds-service-helpers/server/index.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[mds-stream-processor] Initialize dead letter producers at StreamProcessor start time (#692)
  .changeset/loud-ligers-promise.md
  packages/mds-stream-processor/index.ts
  packages/mds-stream-processor/tests/dead-letter.spec.ts
Due: pnpm lint:eslint -- --fix

Bump root version
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

fixes some random ports, removes more fixtures from tests (#695)
  .changeset/three-pets-give.md
  Jenkinsfile
  env.jenkins
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy-service/package.json
  packages/mds-policy-service/tests/.env.test
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Add mappers for migrated ingest data (#693)
  .changeset/smart-stingrays-compare.md
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/index.ts
  packages/mds-ingest-service/repository/mappers/migration-mappers.ts
Due: pnpm lint:eslint -- --fix

Randomize ports when running mds-policy-author and mds-policy-service tests (#697)
  .jest/configurePorts.ts
  .jest/jest.config.js
  @types/find-port-free-sync.d.ts
  README.md
  env.jenkins
  package.json
  packages/mds-agency/jest.config.js
  packages/mds-attachment-service/jest.config.js
  packages/mds-audit-service/jest.config.js
  packages/mds-cache/jest.config.js
  packages/mds-collector-api/jest.config.js
  packages/mds-collector-backend/jest.config.js
  packages/mds-compliance-api/jest.config.js
  packages/mds-compliance-service/jest.config.js
  packages/mds-geography-service/jest.config.js
  packages/mds-ingest-service/jest.config.js
  packages/mds-jurisdiction-service/jest.config.js
  packages/mds-policy-author/jest.config.js
  packages/mds-policy-service/jest.config.js
  packages/mds-schema-validators/jest.config.js
  packages/mds-stream-processor/jest.config.js
  packages/mds-stream/jest.config.js
  packages/mds-transaction-api/jest.config.js
  packages/mds-transaction-service/jest.config.js
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Updating mds-policy-service so mds-test-data not required to build, and moving some constants to mds-utils (#696)
  .changeset/curly-rockets-attack.md
  packages/mds-db/tests/mds-db.spec.ts
  packages/mds-db/tests/policies.spec.ts
  packages/mds-policy-service/tests/helpers.ts
  packages/mds-policy-service/tests/policy-client.spec.ts
  packages/mds-policy-service/tests/policy-repository.spec.ts
  packages/mds-policy-service/tests/venice.ts
  packages/mds-policy/tests/api.spec.ts
  packages/mds-test-data/index.ts
  packages/mds-test-data/policies.ts
  packages/mds-utils/utils.ts
Due: pnpm lint:eslint -- --fix

Ensure randPort is > 1024 (#699)
  .jest/configurePorts.ts
Due: pnpm lint:eslint -- --fix

Fix randport typedef & usage (#703)
  .jest/configurePorts.ts
  @types/find-port-free-sync.d.ts
Due: pnpm lint:eslint -- --fix

Set enable-pre-post-scripts (#702)
  .npmrc
Due: none

PLAT-60 readPolicies can filter by geography_ids (#700)
  .changeset/three-phones-grab.md
  packages/mds-policy-service/@types/index.ts
  packages/mds-policy-service/repository/index.ts
  packages/mds-policy-service/tests/policy-repository.spec.ts
Due: pnpm lint:eslint -- --fix

[PLAT-111] fix devices migration (#705)
  .changeset/shy-hotels-invite.md
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-service/repository/index.ts
Due: pnpm lint:eslint -- --fix

PLAT-14 remove mds db from mds policy (#698)
  .changeset/wet-panthers-kneel.md
  .vscode/launch.json
  packages/mds-policy-service/index.ts
  packages/mds-policy/api.ts
  packages/mds-policy/handlers/get-policies.ts
  packages/mds-policy/handlers/get-policy.ts
  packages/mds-policy/jest.config.js
  packages/mds-policy/package.json
  packages/mds-policy/server.ts
  packages/mds-policy/tests/api.spec.ts
  packages/mds-policy/tsconfig.build.json
  packages/mds-policy/types.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Dependency on incorrect version causes issues for pnpm install (#706)
  packages/mds-policy/package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Restrict randport range to 4000-6000 (#704)
  .jest/configurePorts.ts
Due: pnpm lint:eslint -- --fix

[PLAT-47] Filter policies by status (#701)
  .changeset/dirty-pugs-wonder.md
  .changeset/red-coats-invent.md
  .changeset/smooth-cheetahs-shout.md
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy-service/@types/index.ts
  packages/mds-policy-service/repository/entities/policy-entity.ts
  packages/mds-policy-service/repository/index.ts
  packages/mds-policy-service/repository/mappers.ts
  packages/mds-policy-service/repository/migrations/1629221239968-AddSupersededByColumnToPoliciesTable.ts
  packages/mds-policy-service/repository/migrations/index.ts
  packages/mds-policy-service/service/provider.ts
  packages/mds-policy-service/service/validators.ts
  packages/mds-policy-service/tests/helpers.ts
  packages/mds-policy-service/tests/mappers.spec.ts
  packages/mds-policy-service/tests/policy-client.spec.ts
Due: pnpm lint:eslint -- --fix

[PLAT-37] Add cache and stream hooks to migration processor (#707)
  .changeset/selfish-squids-clean.md
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-service/package.json
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/tests/index.spec.ts
  packages/mds-ingest-service/tsconfig.build.json
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

cleaner default variable assignment, fix double registry prefix, ensure / divider in image repository, clean up branch suffix function (#691)
  bin/build-helper
Due: none

[PLAT-59] Migration processor cache initialization (#710)
  .changeset/orange-wombats-happen.md
  .changeset/purple-shoes-compare.md
  packages/mds-ingest-migration-processor/package.json
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-migration-processor/tsconfig.build.json
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[PLAT-59] Push commit that was missed in previous PR (#711)
  packages/mds-ingest-migration-processor/processor.ts
Due: pnpm lint:eslint -- --fix

[mds-policy-service] [mds-compliance-engine] [mds-policy-author] [mds-test-data] Fix imports of mds-test-data fixtures so they are portable (#713)
  .changeset/quiet-eels-kiss.md
  .changeset/thirty-stingrays-raise.md
  packages/mds-compliance-engine/test_data/batch_fixtures.ts
  packages/mds-compliance-engine/tests/engine/count-tests.spec.ts
  packages/mds-compliance-engine/tests/engine/engine-test.spec.ts
  packages/mds-compliance-engine/tests/engine/speed-tests.spec.ts
  packages/mds-compliance-engine/tests/engine/time-tests.spec.ts
  packages/mds-policy-author/tests/api.spec.ts
  packages/mds-policy-service/tests/helpers.ts
  packages/mds-policy/tests/api.spec.ts
  packages/mds-test-data/index.ts
  packages/mds-test-data/test-areas/test-areas.ts
Due: pnpm lint:eslint -- --fix

Improve pre-commit check to avoid swallowing pls-changeset-me force-exits (#714)
  .husky/pre-commit
Due: none

[PLAT-119] Initialize cache prior to migration by paging through all devices (#712)
  .changeset/gorgeous-impalas-attend.md
  .changeset/seven-lemons-warn.md
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/service/validators.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

Add missing TypeORM model decorators and add a migration to sync schema (#715)
  .changeset/chilly-mugs-bake.md
  packages/mds-ingest-service/repository/entities/event-annotation-entity.ts
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/migrations/1630418242374-SetEventAnnotationsEventsRowIdColumnNotNull.ts
  packages/mds-ingest-service/repository/migrations/index.ts
Due: pnpm lint:eslint -- --fix

Force jest tests to run in band to avoid collision from multiple test files being run by parallel workers in one suite (#716)
  packages/mds-agency-cache/package.json
  packages/mds-attachment-service/package.json
  packages/mds-audit-service/package.json
  packages/mds-cache/package.json
  packages/mds-collector-api/package.json
  packages/mds-collector-backend/package.json
  packages/mds-compliance-api/package.json
  packages/mds-compliance-service/package.json
  packages/mds-geography-service/package.json
  packages/mds-ingest-migration-processor/package.json
  packages/mds-ingest-service/package.json
  packages/mds-jurisdiction-service/package.json
  packages/mds-policy-author/package.json
  packages/mds-policy-service/package.json
  packages/mds-policy/package.json
  packages/mds-providers/package.json
  packages/mds-schema-validators/package.json
  packages/mds-stream-processor/package.json
  packages/mds-stream/package.json
  packages/mds-test-data/package.json
  packages/mds-transaction-api/package.json
  packages/mds-webpack-config/package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

PLAT-114 migrate get trip events to ingest service (#709)
  .changeset/few-keys-grow.md
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

[PLAT-117] Refactor telemetry caching to remove redundant code and other misc fixes (#718)
  .changeset/curly-files-doubt.md
  .changeset/new-moles-leave.md
  .changeset/silver-spies-fail.md
  packages/mds-agency-cache/index.ts
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-logger/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

[mds-ingest-service] Add getTripEvents service method to mds-ingest-service (#717)
  .changeset/pink-mice-provide.md
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix
