Repository openmobilityfoundation/mds-core: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

[LCORE-274] Add stream processor types/utilities to mds-core (#652)
  packages/mds-stream-processor/@types/index.ts
  packages/mds-stream-processor/connectors/console-connector.ts
  packages/mds-stream-processor/connectors/file-connector.ts
  packages/mds-stream-processor/connectors/generator-connector.ts
  packages/mds-stream-processor/connectors/index.ts
  packages/mds-stream-processor/connectors/kafka-connector.ts
  packages/mds-stream-processor/index.ts
  packages/mds-stream-processor/jest.config.js
  packages/mds-stream-processor/package.json
  packages/mds-stream-processor/tsconfig.build.json
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

updating vehicle state 0.4 to 1.0 mapping (#655)
  packages/mds-types/transformers/0_4_1_to_1_0_0/devices.ts
Due: pnpm lint:eslint -- --fix

first draft of batch script for compliance
  .gitignore
  packages/mds-compliance-engine/batch_fixtures.ts
  packages/mds-compliance-engine/batch_process.ts
  packages/mds-compliance-engine/engine/helpers.ts
  packages/mds-compliance-engine/engine/mds-compliance-engine.ts
  packages/mds-compliance-engine/tests/engine/engine-test.spec.ts
  packages/mds-db/policies.ts
Due: pnpm lint:eslint -- --fix

Add Changesets (#660)
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write, pnpm lint:audit

[mds-stream-processor] Dead Letter Sinks for failed messages (#656)
  .changeset/spotty-rabbits-wait.md
  .vscode/launch.json
  packages/mds-stream-processor/@types/index.ts
  packages/mds-stream-processor/index.ts
  packages/mds-stream-processor/jest.config.js
  packages/mds-stream-processor/package.json
  packages/mds-stream-processor/tests/dead-letter.spec.ts
  packages/mds-stream-processor/tsconfig.build.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

rework Paginator.paginate, to work well (#661)
  .changeset/young-parrots-occur.md
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/migrations/1627315083728-AddEventsTimestampIdIndex.ts
  packages/mds-ingest-service/repository/migrations/1627315276644-AddEventsProviderIdIdIndex.ts
  packages/mds-ingest-service/repository/migrations/1627315357677-AddEventsVehicleStateIdIndex.ts
  packages/mds-ingest-service/repository/migrations/index.ts
Due: pnpm lint:eslint -- --fix

refactoring and logging compliance stuff
  packages/mds-compliance-engine/batch_process.ts
  packages/mds-db/policies.ts
Due: pnpm lint:eslint -- --fix

Add dead letter sinks to StreamForwarders (#663)
  .changeset/odd-spies-crash.md
  packages/mds-stream-processor/index.ts
Due: pnpm lint:eslint -- --fix

Bump root version
  package.json
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Bump patch on all packages to align versioning with changesets (#666)
  .changeset/neat-jokes-bake.md
Due: none

Switch StreamProcessor and StreamForwarder to only allow arrays of sinks (#668)
  .changeset/kind-flies-reply.md
  packages/mds-stream-processor/index.ts
  packages/mds-stream-processor/tests/dead-letter.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix

Only run tests & generate updated schemas for packages which have changed since tip of develop (#651)
  .husky/pre-commit
  Jenkinsfile
Due: none

Fix test runner to actually run sequentially (#671)
  Jenkinsfile
Due: none

MDS Ingest Data Migration Processor (#654)
  .changeset/nine-deers-laugh.md
  container-images/mds-ingest-migration-processor/Dockerfile
  container-images/mds-ingest-migration-processor/package.json
  container-images/mds-ingest-migration-processor/webpack.config.ts
  packages/mds-ingest-migration-processor/index.ts
  packages/mds-ingest-migration-processor/package.json
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-ingest-migration-processor/tsconfig.build.json
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/client/index.ts
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/device-mappers.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/repository/mappers/telemetry-mappers.ts
  packages/mds-ingest-service/service/manager.ts
  packages/mds-ingest-service/service/provider.ts
  packages/mds-ingest-service/tests/index.spec.ts
  packages/mds-types/telemetry.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

APPS-14 Add events_row_id to event annotations. (#667)
  .changeset/polite-hairs-itch.md
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/repository/entities/event-annotation-entity.ts
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/repository/mappers/event-annotation-mappers.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/repository/migrations/1627427307591-AddEventsRowIdColumn.ts
  packages/mds-ingest-service/repository/migrations/index.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

Add pls-changeset-me to prompt for changesets as part of a pre-commit hook (#673)
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Remove delta, service_area_id, and timestamp_long from a variety of vehicle event types (#672)
  .changeset/chatty-plums-peel.md
  packages/mds-agency-cache/unflatteners.ts
  packages/mds-agency/types.ts
  packages/mds-db/schema.ts
  packages/mds-ingest-service/@types/index.ts
  packages/mds-ingest-service/repository/entities/event-entity.ts
  packages/mds-ingest-service/repository/mappers/event-mappers.ts
  packages/mds-ingest-service/repository/migrations/1627680668538-DropServiceAreaIdColumn.ts
  packages/mds-ingest-service/repository/migrations/index.ts
  packages/mds-schema-validators/v0_4_1/index.ts
  packages/mds-schema-validators/validators.ts
  packages/mds-types/event.ts
  packages/mds-types/tests/transformers/vehicle_event_transformers_spec.ts
  packages/mds-types/transformers/0_4_1_to_1_0_0/vehicle_events.ts
  packages/mds-types/transformers/1_0_0_to_0_4_1/vehicle_events.ts
  packages/mds-types/transformers/@types/0_4_1.ts
  packages/mds-types/transformers/@types/1_0_0.ts
Due: pnpm lint:eslint -- --fix

Add getGeographiesByIds method to mds-geography-service, move testEnvSafeguard to mds-utils (#674)
  .changeset/khaki-moles-dance.md
  .changeset/silly-apricots-scream.md
  packages/mds-geography-service/@types/index.ts
  packages/mds-geography-service/client/index.ts
  packages/mds-geography-service/repository/index.ts
  packages/mds-geography-service/service/manager.ts
  packages/mds-geography-service/service/provider.ts
  packages/mds-geography-service/service/validators.ts
  packages/mds-geography-service/tests/index.spec.ts
  packages/mds-ingest-service/repository/index.ts
  packages/mds-utils/utils.ts
Due: pnpm lint:eslint -- --fix

Add missing migration name property to AddEventsRowIdColumn1627427307591
  .changeset/orange-garlics-compare.md
  packages/mds-ingest-service/repository/migrations/1627427307591-AddEventsRowIdColumn.ts
Due: pnpm lint:eslint -- --fix

[mds-ingest-service] Add missing migration name property to AddEventsRowIdColumn1627427307591 (#675)
  .changeset/swift-files-burn.md
  packages/mds-ingest-service/repository/migrations/1627427307591-AddEventsRowIdColumn.ts
Due: pnpm lint:eslint -- --fix

PLAT-35 write policy queries in policy service (#670)
  .changeset/mean-snakes-rush.md
  package.json
  packages/mds-policy-service/@types/index.ts
  packages/mds-policy-service/package.json
  packages/mds-policy-service/repository/index.ts
  packages/mds-policy-service/repository/mappers.ts
  packages/mds-policy-service/tests/index.spec.ts
  packages/mds-policy-service/tests/policy-repository.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Add mds-ingest-migration-processor to values template (#676)
  lerna.json
  package.json
  pnpm-lock.yaml
  values.yaml.tpl
Due: pnpm lint:prettier -- --write, pnpm lint:audit

Feature/compliance cron job (#664)
  .changeset/dry-doors-travel.md
  .gitignore
  packages/mds-compliance-engine/@types/index.ts
  packages/mds-compliance-engine/batch_process.ts
  packages/mds-compliance-engine/engine/count_processors.ts
  packages/mds-compliance-engine/engine/helpers.ts
  packages/mds-compliance-engine/engine/mds-compliance-engine.ts
  packages/mds-compliance-engine/engine/speed_processors.ts
  packages/mds-compliance-engine/engine/time_processors.ts
  packages/mds-compliance-engine/less
  packages/mds-compliance-engine/package.json
  packages/mds-compliance-engine/test_data/batch_fixtures.ts
  packages/mds-compliance-engine/tests/engine/engine-test.spec.ts
  packages/mds-compliance-service/repository/index.ts
  packages/mds-compliance-service/service/manager.ts
  packages/mds-compliance-service/tests/index.spec.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Add SUPERPEDESTRIAN provider_id (#678)
  .changeset/nervous-trees-notice.md
  packages/mds-providers/index.ts
Due: pnpm lint:eslint -- --fix

Update API lists in README.md (#659)
  README.md
Due: none

Change pre-commit hook so that it doesn't block vscode commits (#682)
  .husky/pre-commit
Due: none

PLAT-48 add service layer mds policy service (#679)
  .changeset/early-kids-grab.md
  .changeset/metal-dragons-dream.md
  .changeset/perfect-pigs-deny.md
  .gitignore
  .vscode/launch.json
  packages/mds-geography-service/index.ts
  packages/mds-policy-service/@types/index.ts
  packages/mds-policy-service/client/index.ts
  packages/mds-policy-service/package.json
  packages/mds-policy-service/repository/index.ts
  packages/mds-policy-service/service/manager.ts
  packages/mds-policy-service/service/provider.ts
  packages/mds-policy-service/service/validators.ts
  packages/mds-policy-service/tests/.env.test
  packages/mds-policy-service/tests/helpers.ts
  packages/mds-policy-service/tests/index.spec.ts
  packages/mds-policy-service/tests/policy-client.spec.ts
  packages/mds-policy-service/tests/policy-repository.spec.ts
  packages/mds-policy-service/tsconfig.build.json
  packages/mds-service-helpers/@types/index.ts
  packages/mds-service-helpers/server/index.ts
  packages/mds-types/policy.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write, pnpm lint:audit

Implement filtering vehicle events by geography id. (#683)
  .changeset/cold-geckos-float.md
  packages/mds-ingest-service/repository/index.ts
  packages/mds-ingest-service/tests/index.spec.ts
Due: pnpm lint:eslint -- --fix

[docs] Add READMEs for all packages (#680)
  packages/mds-agency-cache/README.md
  packages/mds-agency/README.md
  packages/mds-api-authorizer/README.md
  packages/mds-api-helpers/README.md
  packages/mds-api-server/README.md
  packages/mds-attachment-service/README.md
  packages/mds-audit-service/README.md
  packages/mds-cache/README.md
  packages/mds-collector-api/README.md
  packages/mds-collector-backend/README.md
  packages/mds-compliance-api/README.md
  packages/mds-compliance-service/README.md
  packages/mds-db/README.md
  packages/mds-geography-service/README.md
  packages/mds-ingest-migration-processor/README.md
  packages/mds-ingest-service/README.md
  packages/mds-jurisdiction-service/README.md
  packages/mds-jurisdiction/README.md
  packages/mds-logger/README.md
  packages/mds-policy-service/README.md
  packages/mds-providers/README.md
  packages/mds-repository/README.md
  packages/mds-rpc-common/README.md
  packages/mds-schema-validators/README.md
  packages/mds-service-helpers/README.md
  packages/mds-stream-processor/README.md
  packages/mds-stream/README.md
  packages/mds-test-data/README.md
  packages/mds-transaction-api/README.md
  packages/mds-transaction-service/README.md
  packages/mds-types/README.md
  packages/mds-utils/README.md
  packages/mds-webpack-config/README.md
Due: none

Minor migration processor fixes (#681)
  .changeset/modern-elephants-hear.md
  .changeset/swift-eggs-bow.md
  packages/mds-ingest-migration-processor/processor.ts
  packages/mds-stream-processor/connectors/kafka-connector.ts
Due: pnpm lint:eslint -- --fix

`vehicle_types` field in BaseRule should be restricted to `VEHICLE_TY… (#686)
  .changeset/violet-mirrors-compare.md
  packages/mds-policy-service/service/validators.ts
  packages/mds-types/policy.ts
Due: pnpm lint:eslint -- --fix

Path conditions:
  pnpm lint:eslint -- --fix: any of: *.ts
  pnpm lint:prettier -- --write: any of: package.json
  pnpm lint:audit: any of: package.json
